<p class="title">
  <%= idea.title %>
</p>
<p class="body">
  <%= idea.content %>
</p>

<div class="buttons">
  <button class="button"><%= link_to "Delete", challenge_idea_path(@challenge, idea.id), method: :delete, data: {confirm: "Are you sure?" } %></button>
</div>
