<% @challenges.each do |challenge|%>
  <div class="post_wrapper">
    <h2 class="title"> <%= link_to challenge.title, challenge %></h2>
    <p class="date"> <%= challenge.end_period %> </p>
  </div>
<% end %>
